@import '../sets/global-set';

$block: '.ViewTournament';

#{$block} {
  max-width: 800px;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
}

#{$block}__heading {
  text-align: center;
}

// #{$block}__sub-heading {}