$block: '.Header';

#{$block} {
  background-color: $primaryBlue;
  padding: .5em 2em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

#{$block}__logo {
  width: 85px;
}

#{$block}__links-wrap {
  width: 40%;
  display: flex;
  justify-content: space-between;

  a {
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: lightblue;
    }
  }
}