$block: ".RegistrationForm";

#{$block} {
  border-radius: 8px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
  max-width: 390px;
  margin: auto;
  margin-bottom: 1em;
  overflow: hidden;
}

#{$block}__head {
  border-bottom: 1px solid $borderGray1;
  background-color: $primaryBlue;
  color: white;
  padding: .75em 1em;
  text-align: center;
}

#{$block}__heading {
  margin: 0;
}

#{$block}__body {
  padding: 1em;
}

#{$block}__label {
  font-size: .875em;
  font-weight: 700;
  margin-top: 1em;

  &:first-of-type {
    margin-top: 0;
  }
}

#{$block}__input {
  width: 100%;
  margin-top: .5em;
}

#{$block}__btn {
  @include button($secondaryRed, $borderGray1);
}

#{$block}__already-have {
  text-align: center;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;

}