// COLORS
$primaryBlue: #324354;
$secondaryBlue: #96AABD;
$primaryRed: #644E5A;
$secondaryRed: #c96567;

$danger-red: #ffa3a3;
$fl-yellow: #f3ff99;
$fl-green: #c0e8b2;

$borderGray1: #cecece;


$textColorDark: #333;