// COLORS
$primaryBlue: #324354;
$secondaryBlue: #96aabd;
$primaryRed: #644e5a;
$secondaryRed: #c96567;

$danger-red: #ffa3a3;
$fl-yellow: #f3ff99;
$fl-green: #c0e8b2;

$borderGray1: #cecece;

$textColorDark: #333;

// FONTS
$primaryFontFamily: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode',
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
